*{
    margin: 0;
    padding: 0;
    font-family: sans-serif !important;
}
.header nav ul {
    display: flex;
    justify-content: space-evenly;
    background-color: #010101;
    color: #fafafa;
    margin: 10px 10px 0 10px;
    border-radius: 15px;
    padding: 20px;
}

li{
    list-style: none;
}
.header nav ul li{
    color: inherit;
    background-color: darkgray;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 5px;
}